.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* in general style */
* {
  margin: 0px;
  padding: 0px;
}

/* shared style */
.primary-color {
  color: #4E47FF;
}

.text-color {
  color: #252432;
}

.btn-primary {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 36px;
  background-color: #4E47FF;
  color: white;
  border: none;
  border-radius: 10px;
}

/* header section style */
.header {
  height: 670px;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;


}

nav {
  display: flex;
  margin: 0px 150px;
  padding: 50px 0px;
  justify-content: space-between;
}

.main-logo {
  font-size: 34px;
  font-weight: 800;
}

.banner-content {
  /* display: flex; */
  /* flex-direction: column; */
  margin: 100px 0 0 0;
  text-align: center;
  justify-items: center;
}


.banner-title {
  font-size: 65px;
  font-weight: bold;
  max-width: 905px;
  padding-bottom: 37px;
}